body {
	margin: 0;
}
.header-container {
	display: flex;
	width: 100%;
	height: 72px;
	min-width: 1421px;
	background-color: #07111b;
}
.mooc-logo-container {
	width: 140px;
	height: 72px;
	margin-left: 22px;
}
.header-lessons-title {
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,.6);
	line-height: 72px;
	padding: 0 18px;
}
.header-lessons-title-container {
	margin-left: 20px;
}
.header-lessons-title-container a:hover {
	color: #fff;
}
.lesson-special {
	color: #fff;
	padding: 0 23px 0 17px;
}
.new-logo {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 367px;
	top: 16px;
}
.search-container {
	width: 210px;
	display: inline-block;
	height: 57px;
	border-bottom: 1px solid #6a7076;
	margin-left: 6px;
}
.search-input {
	background-color: #07111B;
    border: none;
    width: 170px;
}
.search-tags {
	position: relative;
	top: 21px;
	left: 31px;
	z-index: 1;	
}
.search-tags a {
	padding: 3px 8px;
	font-size: 12px;
	font-weight: 200;	
	text-decoration: none;
	color: rgba(255,255,255,.6);
	background-color: rgba(255,255,255,.1);
	margin-left: 3px;
	border-radius: 12px;
	line-height: 24px;
}
.search-tags a:hover {
	color: #fff;
	background-color: rgba(255,255,255,.2);
}
.mangifer-icon-container-position {
	position: absolute;
	z-index: 1;
	top: 24px;
	left: 795px;
	padding: 4px 8px;
	border-radius: 12px;
}
.mangifer-icon-container-position:hover {
	background-color: #641218;
}
.mangifer-icon-container-position:hover .mangifer-icon-container {
	background-image: url(./imgs/mangifer-hover.png);
}
.mangifer-icon-container {
	width: 16px;
	height: 16px;
	background-image: url(./imgs/mangifer1.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.mangifer-icon-container:hover {
	cursor: pointer;
}
.righter-link-container {
	margin-left: 279px;
	display: flex;
}
.righter-link-word {
	color: #929e9b;
	font-size: 14px;
	font-weight: 400;
	line-height: 72px;
}
.shopping-mart-container {
	border: 1px solid rgba(255,255,255,.2);
	display: flex;
	align-items: center;
	padding: 0 18px;
	border-radius: 18px;
	height: 36px;
	line-height: 34px;
	margin: 17px 0 0 14px;
}
.shopping-mart-icon {
	width: 16px;
	height: 16px;
	background-image: url(./imgs/shopmart2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.shopping-word {
	margin-left: 9px;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255,255,255,.6);
}
.loginorlogup-container {
	display: flex;
	align-items: center;
	margin-left: 12px;
}
.log-word {
	font-size: 14px;
	line-height: 72px;
	font-weight: 400;
	color: rgba(255,255,255,.6);
}
.partition {
	padding: 0 16px;
}
.hover-red:hover {
	color: #f01414;
}
.hover-white:hover {
	color: #fff;
}
.shopping-mart-container:hover .shopping-word{
	color: #fff;
}
.shopping-mart-container:hover .shopping-mart-icon {
	background-image: url(./imgs/shopmart-white.png);
}
.shopping-mart-container:hover {
	background-color: #202932;
}
.hover-pointer:hover {
	cursor: pointer;
}
.downhead-pic-container {
	width: 100%;
	height: 120px;
	background-color: #0d5a44;
	background-image: url(./imgs/midder-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.lessons-item-container {
	display: flex;
	height: 72px;
	font-size: 16px;
	font-weight: bold;
	line-height: 37px;
	color: #5e5e5e;
	margin-left: 134px;
}
.lessons-item-each {
	padding: 0 16px;
	margin-right: 36px;
	margin-top: 16px;
}
.special-purple {
	color: #9447eb;
}
.small-purple-badge {
	position: absolute;
	top: 245px;
	left: 285px;
	height: 3px;
	width: 16px;
	background-color: #9447eb;
}
.midder-container {
	min-height: 1600px;
	background-color: #f3f5f7;
}
.middle-toper-gradient-color {
	height: 24px;
	background: linear-gradient(0deg, #f3f5f7, #dfe1e3);
}
.middle-title-items-box {
	display: flex;
	position: relative;
	top: -4px;
	margin-left: 518px;
}
.middle-title-items-each {
	font-size: 14px;
	color: #93999f;
	padding: 8px 16px;
	border-radius: 18px;
	margin-right: 28px;
}
.middle-title-items-each:hover {
	color: #4d555d;
}
.middle-title-items-focus {
	background-color: #383d42;
	color: #fff;
	font-size: 14px;
	padding: 8px 16px;
	margin-right: 28px;
	border-radius: 18px;
}
.lessons-stages {
	display: flex;
	margin-left: 167px;
	margin-top: 17px;
}
.which-stage {
	font-size: 14px;
	color: #fff;
	padding: 4px 6px;
	margin-right: 12px;
	line-height: 16px;
	background-color: #9447eb;
	border-radius: 4px;
}
.stage-title {
	font-size: 16px;
	color: #9447eb;
	line-height: 24px;
	font-weight: 700;
	margin-right: 12px;
}
.how-many-lessons {
	font-size: 12px;
	color: #9199a1;
	line-height: 24px;
}
.stage-detail {
	display: flex;
	width: fit-content;
	margin: 16px 0 0 167px;
}
.left-pic-container {
	width: 92px;
	height: 252px;
	background-size: contain;
	background-repeat: no-repeat;
}
.left-pic-container1 {
	background-image: url(./imgs/stage1.png);
}
.left-pic-container2 {
	background-image: url(./imgs/stage2.png);
}
.left-pic-container3 {
	background-image: url(./imgs/stage3.png);
}
.left-pic-container4 {
	background-image: url(./imgs/stage4.png);
}
.right-content-container {
	height: 252px;
	width: 1016px;
	background-color: #fff;
	border-radius: 0 14px 14px 0;
	padding: 20px 10px 16px 24px;
	box-sizing: border-box;
	box-shadow: 0 6px 9px 0 #e5e8eb;
	position: relative;
}
.content-items-each-container {
	margin-top: 8px;
	display: flex;
}
.content-items-each {
	background-color: #f1f1f2;
	padding: 16px 26px 16px 16px;
	position: relative;
	width: 142.4px;
	height: 132px;
	border-radius: 9px;
	transition-duration: 1s;
	margin-right: 12px;
}
.another-control-item-width {
	width: 191.5px;
}
.content-items-each-title {
	font-size: 14px;
	font-weight: 400;
	color: #1c1f21;
	line-height: 20px;
	margin: 1px 0 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.content-items-each ul {
	padding: 0;
	margin: 21px 0 0 0;
}
.content-items-each li {
	font-size: 12px;
	list-style: none;
	color: #545c63;
	line-height: 16px;
	margin-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content-items-each-number {
	position: absolute;
	top: 13px;
	right: 13px;
	font-size: 36px;
	font-family: DINCond-M;
	line-height: 40px;
	color: rgba(28, 31, 33, .1);
}
.for-show {
	display: none;
}
.content-items-each:hover .for-show {
	display: block;
}
.content-items-each:hover .for-hidden {
	display: none;
}
.content-items-each:hover {
	height: fit-content;
	background-color: #fff;
	box-shadow: 2px 4px 7px 3px #e8e9ea;
	z-index: 1;
	transition-duration: 1s;
	min-height: 132px;
}
.bottom-detail-container {
	position: absolute;
	display: flex;
	bottom: 24px;
	left: 23px;
}
.has-buyed-container {
	display: flex;
	align-items: center;
}
.has-buyed-pic-container {
	width: 12px;
	height: 12px;
	background-image: url(./imgs/character1.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.list-each-detail-desc-word {
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: #9199a1;
}
.lessons-last {
	margin-left: 24px;
}
.has-buyed-container {
	margin-left: 24px;
}
.set-meal {
	margin-left: 765px;
}
.bottom-detail-container-downer {
	position: absolute;
	bottom: 16px;
	display: flex;
	align-items: center;
}
.add-to-mart {
	margin-left: 24px;
}
.add-to-mart:hover, .set-meal:hover {
	cursor: pointer;
	color: #545c63;
}
.see-the-list-detail {
	display: flex;
	align-items: center;
	width: 72px;
	height: 32px;
	border-radius: 16px;
	background-color: #edeeef;
	margin-left: 25px;
}
.see-the-list-detail:hover {
	background-color: #dddee0;
}
.see-the-list-detail-word {
	font-size: 12px;
	color: #545c63;
	line-height: 16px;
	margin-left: 14px;
}
.see-the-list-detail-arrow {
	width: 10px;
	height: 10px;
	background-image: url(./imgs/right-arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 3px 0 0 7px;
}
.lessons-stages-2 {
	margin-top: 25px;
}
.bottom-lesson-stage {
	display: block;
}
.bottom-lesson-stage p {
	font-size: 12px;
	color: #93999f;
	line-height: 20px;
	margin: 0;
}
.bottom-lesson-stage span {
	color: #f01414;
}